@mixin media($min-width, $max-width) {
  @media screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

@mixin flex ($direction: row, $jc: flex-start, $wrap: nowrap, $ai: center, $as: center){
  display:flex;
  @if ($direction != row or $wrap != nowrap) {
    flex-flow: $direction $wrap;
  }
  justify-content: $jc;
  align-items: $ai;
  align-self: $as;
}

@mixin font($size, $color, $weight: 400, $family: Arial, $style: normal) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
  font-family: $family, Arial, sans-serif;
}
