@import "mixins";
@import "variables";

@include media(0, 479px) {
  .pricing {
    background-size: cover;
    height: 2410px !important;
    margin-top: -3px;
    margin-bottom: -270px;
    &__header {
      @include font(1.25rem,#ffffff);
      margin-top: -100px !important;
    }
      &__header h1 {
        width: 260px;
        line-height: 45px;
      }
    &__content {
      width: 300px;
    }
      &__content > div {
        margin-bottom: 14px;
      }
  }
}
@include media(479px, 767px) {
  .pricing {
    background-size: cover;
    height: 2642px !important;
    margin-bottom: -430px;
    &__header {
      @include font(1.84rem,#ffffff);
      margin-top: -120px !important;
    }
      &__header h1 {
        width: 390px;
        line-height: 67px;
      }
    &__content {
      width: 310px;
    }
      &__content > div {
        margin-bottom: 14px;
      }
  }
}
@include media(767px, 1199px) {
  .pricing {
    background-size: cover;
    height: 1376px !important;
    margin-bottom: -220px;
    &__header {
      @include font(1.9rem,#ffffff);
    }
      &__header h1 {
        width: 560px;
      }
    &__content {
      width: 650px;
    }
      &__content > div {
        margin: 20px;
      }
      &__box-4 {
        margin-left: -3px !important;
        margin-right: 35px !important;
      }
  }
}
@include media(1199px, 10000px) {
  .pricing {
    background-size: cover;
    &__header {
      @include font(2.14rem,#ffffff);
    }
      &__header h1 {
        width: 640px;
        margin-top: 100px;
      }
    &__content {
      margin-top: 50px;
      width: 1140px;
    }
      &__content > div {
        margin: 7px;
      }
  }
}

.pricing {
  @include flex(column);
  width: 100%;
  height: 940px;
  background-image: url("../img/layer.png");
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: 70px;
  &__header {
    text-align: center;
    margin-top: -150px;
  }
    &__header h1 {
      display: inline-block;
    }
  &__content {
    @include flex(row,center,wrap);
  }
    &__content > div {
      text-align: center;
      width: 260px;
      height: 463px;
      background: rgba(254, 255, 246, 0.1);
    }
      &__content h1 {
        margin-top: 0;
        padding-top: 40px;
        box-sizing: border-box;
        height: 100px;
        background: rgba(255, 253, 254, 0.05);
        @include font(1.61rem,#ffffff);
      }
      &__content h2 {
        @include font(4rem,#ffffff,800);
        margin-top: 0;
        margin-bottom: 0;
      }
        &__content h2:first-letter {
          font-weight: 100 !important;
        }
      &__content h3 {
        margin-top: 10px;
        @include font(0.8rem,rgba(255, 255, 255, 0.31),300);
      }
      &__content span {
        display: inline-block;
        margin-top: 10px;
        width: 63px;
        height: 8px;
        background-image: url("../img/line.png");
      }
      &__content h4 {
        margin-top: 15px;
        height: 50px;
        @include font(1.1rem,rgba(255, 255, 255, 0.91));
        line-height: 25px;
      }
      &__content button {
        width: 160px;
        height: 40px;
        margin-top: 30px;
        background: rgba(254, 255, 246, 0.1);
        border: none;
        border-radius: 30px;
        color: #ffffff;
        font-size: .85rem;
        cursor: pointer;
      }
    &__box-3 {
      width: 301px !important;
      height: 563px !important;
      background: rgba(0, 0, 0, 0.21) !important;
    }
      &__box-3 h1 {
        height: 114px !important;
        background: rgba(0, 0, 0, 0.11) !important;
        font-size: 1.7rem;
      }
      &__box-3 h2 {
        font-size: 4.5rem;
      }
      &__box-3 h3 {
        margin-top: 15px;
      }
      &__box-3 span {
        margin-top: 20px;
      }
      &__box-3 h4 {
        margin-top: 20px;
      }
      &__box-3 button {
        width: 190px;
        height: 50px;
        background: rgba(254, 255, 246, 0.1);
        margin-top: 60px;
      }
}
