@import "mixins";
@import "variables";

@include media(0, 479px) {
  .rev-editor {
    & h1 {
      @include font(2rem,$dark-violet-color,700);
      margin-bottom: 0;
      word-spacing: 320px;
    }
      &__container p {
        width: 265px;
        @include font(0.9rem,$gray-color,400,Calibri);
      }
      &__github ul {
        margin-left: -5px !important;
      }
  }
}
@include media(479px, 767px) {
  .rev-editor {
    & h1 {
      @include font(2.8rem,$dark-violet-color,700);
      margin-bottom: 0;
      word-spacing: 480px;
    }
      &__container p {
        width: 451px;
        @include font(1.055rem,$gray-color,400,Calibri);
      }
  }
}
@include media(767px, 1199px) {
  .rev-editor {
    & h1 {
      @include font(2.9rem,$dark-violet-color,700);
      margin-bottom: 0;
    }
      &__container p {
        width: 663px;
        @include font(1.25rem,$gray-color,400,Calibri);
      }
  }
}
@include media(1199px, 10000px) {
  .rev-editor {
    & h1 {
      @include font(3.4rem,$dark-violet-color,700);
      margin-bottom: 0;
    }
      &__container p {
        width: 909px;
        @include font(1.25rem,$gray-color,400,Calibri);
      }
  }
}

.rev-editor {
  text-align: center;
  margin-top: 130px;
  &__container {
    @include flex(row,center);
  }
  &__github {
    @include flex(row,center,wrap);
  }
    &__github ul {
      margin-left: -30px;
    }
      &__btn {
        display: inline-block;
        color: #24292e;
        list-style-type: none;
        font-family: $font-btn;
        font-size: 12px;
        line-height: 20px;
        padding: 3px 10px;
        background-color: #eff3f6;
        background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
        background-position: -1px -1px;
        background-repeat: repeat-x;
        background-size: 110% 110%;
        border: 1px solid rgba(27,31,35,.2);
        border-radius: .25em 0 0 .25em;
        cursor: pointer;
        font-weight: 600;
        position: relative;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        float: left;
      }
      &__btn:hover {
        border: 1px solid #828282;
        background: #eff3f6;
      }
        & svg {
          width: 17px;
          height: 15px;
          margin-bottom: -2px;
        }
      &__counter {
        display: inline-block;
        background-color: #fff;
        border: 1px solid rgba(27,31,35,.2);
        border-bottom-right-radius: 3px;
        border-left: 0;
        border-top-right-radius: 3px;
        color: #24292e;
        float: left;
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        padding: 3px 10px;
        vertical-align: middle;
        box-sizing: border-box;
        cursor: pointer;
        list-style-type: none;
        font-family: $font-btn;
      }
      &__counter:hover {
        color: #0366d6;
      }
}
